button {
  background-color: #a9a492;
  font-size: 24px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: black;
  color: white;
}

.equals {
  grid-column: 3 / 5;

  background-color: #cb8424;
}

.equals:hover {
  color: white;
}
